.logo__title {
      background: linear-gradient(to left, #09b709, #a3b70b, #c91c1c);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
}

.link__btn {
      text-transform: capitalize;
      font-size: 1rem;
      color: #0e1429 !important;
      margin-left: 2rem;
      font-weight: 500;
}

:is(.link__btn:active, .link__btn:hover, .link__btn:focus) {
      color: #c91c1c !important;
}

.badge {
      background: linear-gradient(to right, #c91c1c 0%, yellow 100%);
      padding: 5px;
      border-radius: 50%;
      font-size: 0.7rem;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      position: absolute;
      top: 0;
      right: 0;
}

.sticky__header {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
      box-shadow: 0 7px 5px -5px black;
      padding: 0;
}

.search__link {
      width: 100%;
      padding: 0.3rem;
      border-radius: 5px;
      transition: .4s;
}

.search__link:hover {
      background: #ccc;
}

.search__container::-webkit-scrollbar {
      display: none;
}

.accountLink {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 1rem;
      transition: all 0.4s ease;
      border-radius: 0.5rem;
}

.accountLink:hover {
      background: #ddd;
}