.single__product {
      animation: zoom 1s ease-in-out forwards;
}

@keyframes zoom {
      from {
            transform: scale(0);
      }

      to {
            transform: scale(1);
      }
}

textarea {
      color: #1c264c;
      background: whitesmoke;
      resize: none;
      padding: 1rem;
      border-radius: .5rem;
      border: none;
      outline: none;
}

textarea::placeholder {
      color: inherit;
      font-size: 1rem;
      font-family: inherit;
}

