@media only screen and (max-width: 576px) and (max-width: 400px) {
      .popular__menu {
            display: grid;
            grid-template-columns: 1fr;
      }
}

.single__product {
      animation: zoom 1s ease-in-out forwards;
}

@keyframes zoom {
      from {
            transform: scale(0);
      }

      to {
            transform: scale(1);
      }
}