.App {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     padding: 1rem 0.5rem;
}

article {
     width: 100%;
     max-width: 420px;
     min-height: 400px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 1rem;

}

.login {
     background-color: #99929266;
}

form {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     flex-grow: 1;
     padding-bottom: 1rem;
}

a,
a:visited {
     color: #2515bb;
}

.login input[type="text"],
.login input[type="password"],
.login button,
.login textarea {
     font-size: 1rem;
     padding: 0.5rem;
     border-radius: 0.5rem;
}

.instructions {
     font-size: 0.75rem;
     border-radius: 0.5rem;
     background: #000;
     color: #fff;
     padding: 0.25rem;
     position: relative;
     bottom: -10px;
}

.instructions>svg {
     margin-right: 0.25rem;
}

.offscreen {
     position: absolute;
     left: -9999px;
}

.hide {
     display: none;
}

.valid {
     color: limegreen;
     margin-left: 0.25rem;
}

.invalid {
     color: red;
     margin-left: 0.25rem;
}

.errmsg {
     background-color: lightpink;
     color: firebrick;
     font-weight: bold;
     padding: 0.5rem;
     margin-bottom: 0.5rem;
}

.line {
     display: inline-block;
     color: #13135d;
}