@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      font-family: "Poppins", sans-serif;
      scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
      text-decoration: none !important;
      color: unset !important;
}

button {
      border: none;
      outline: none;
}

input {
      border: none;
      outline: none;
}

main {
      padding: 40px;
}




